.slider {
  margin-top: 88px;
  z-index: 0;
}
.vue-carousel__indicators {
  left: calc((100vw - (1200 - 16 * 2) * 1px) / 2) !important;
  transform: translateX(0) !important;
  bottom: 65px !important;
  
  @media (max-width: 1200px) {
    left: 16px !important;
    bottom: 20px !important;
  }
}