.slider {
  margin-top: 88px;
  z-index: 0;
  @media (max-width: 768px) {
    margin-top: 72px;
  }
}
.vue-carousel__indicators {
  left: calc((100vw - (1200 - 16 * 2) * 1px) / 2) !important;
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  bottom: 65px !important;

  @media (max-width: 1200px) {
    left: 16px !important;
    bottom: 20px !important;
  }
}