.wrap {
  position: relative;
  min-height: 100vh;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.message {
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.65);
}