.date__wrap {
  max-width: 340px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  &--item {
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  & label,
  & span {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #888888;
  }
  & label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 0;
  }
}

.date__input {
  width: 100%;
  height: 100%;
  padding: 16px 0;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  background: transparent;
  @media (max-width: 370px) {
    text-align: right;
  }
  &:valid {
    opacity: 1;
  }

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}