.date__wrap {
  max-width: 340px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & span {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #888888;
  }
}

.date__input {
  cursor: pointer;
  padding: 16px 0;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}