.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #F7F9FF;

  &__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 88px;
    @media (max-width: 768px) {
      height: 56px;
    }
  }
}

.nav {
  &__logo {
    max-height: 30px;
    @media (max-width: 768px) {
      max-height: 24px;
    }
  }
  &__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
    @media (max-width: 768px) {
      gap: 16px;
    }
    &-item a {
      padding: 8px 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #888888;
    }
  }
}

.phone,
.mail {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.link {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}

.link__a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.link__a::after {
  content: attr(data-replace);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  transform-origin: 50% 100%;
  transform: translate3d(0, 200%, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #0050EF;
}

.link__a:hover::after {
  transform: translate3d(0, 0, 0);
}

.link__a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link__a:hover span {
  transform: translate3d(0, -200%, 0);
}
